.main-loader-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.6); /* Darker backdrop for contrast */
  }
  
  .main-loader-container img {
    width: auto;
    height: 100px; /* Slightly larger for better visibility */
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .main-loader-container h3 {
    margin: 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  /* Outer container with radial gradient */
  .loader-container {
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.1), 0 0 50px rgba(0, 0, 0, 0.5);
  }
  
  /* Wrapper for the steering wheel */
  .steering-wheel-wrapper {
    position: relative;
    z-index: 2;
    width: 45%; /* Scaled down a bit to make it more balanced */
    height: 45%;
    animation: pulse 2s ease-in-out infinite;
    transition: transform 0.3s;
  }
  
  .steering-wheel-wrapper:hover {
    transform: scale(1.1);
  }
  
  /* Steering wheel with smooth rotation */
  .steering-wheel {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: wheel-rotate 2s linear infinite;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)) brightness(1.2);
  }
  
  /* Glowing spinning ring */
  .glow-ring {
    position: absolute;
    width: 180px;
    height: 180px;
    border: 6px solid transparent;
    border-top: 6px solid #fa8304;
    border-right: 6px solid #005ba5;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    box-shadow: 0 0 30px #fa8304, 0 0 40px #005ba5;
    z-index: 1;
  }
  
  
  /* Animations */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
      filter: brightness(1.2);
    }
    50% {
      transform: scale(1.05);
      filter: brightness(1.6);
    }
  }
  
  @keyframes wheel-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes shineMove {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  
  /* Shiny effect over the wheel
  .steering-wheel-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.1) 100%);
    transform: skewX(-25deg);
    animation: shineMove 2.5s ease-in-out infinite;
    z-index: 3;
    border-radius: 50%;
  } */
  