.toust-main-container {
    display: flex;
    width: 100%;
    max-width: 560px;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 0;
    visibility: hidden;
    transform: translate(100%, 150%);
    z-index: 99999999999;
    transition: all 0.3s ease-in-out;
}

.toust-main-container.show-toust-message {
    visibility: visible;
    transform: translate(100%, 0%);
}

.toust-message-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.toust-message-container>h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFF;
    white-space: nowrap;
    /* Prevents text from wrapping */
    overflow: hidden;
    /* Hides the overflowing text */
    text-overflow: ellipsis;
}

.toust-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    flex-shrink: 0;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .toust-main-container {
        display: flex;
        width: 100%;
        max-width: 310px;
        height: 45px;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: var(--primary-color);
        border-radius: 10px;
        position: fixed;
        bottom: 10px;
        left: 0;
        visibility: hidden;
        transform: translate(5%, 150%);
        z-index: 99999999999;
        transition: all 0.3s ease-in-out;
    }

    .toust-main-container.show-toust-message {
        visibility: visible;
        transform: translate(5%, 0%);
    }

    .toust-message-container>h3 {
        font-size: 12px;
    }
}