/* .login-form-and-content-main-contianer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
} */

.login-form-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 35px;
    border: 1px solid #afafaf;
    border-radius: 25px;
    gap: 20px;
}

.login-form-main-contianer > h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.login-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 15px;
}

.login-form-inputs > label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    background-color: rgba(102, 102, 102, 0.1);
    font-size: 12px;
    padding: 6px 16px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(102, 102, 102, 0.7);
    /* gap: 5px; */
}

.login-form-inputs > label > input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    height: 30px;
}

.login-form-inputs > label > input::placeholder {
    color: var(--primary-color);
}

.login-user-pass-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.login-user-pass-container > input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    height: 30px;
}

.login-user-pass-container > input::placeholder {
    color: var(--primary-color);
}

.forgot-password  {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.forgot-password > p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.login-form-inputs > label > span > p {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.login-submit-button {
    display: flex;
    width: max-content;
    height: 35px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border-radius: 5px;
}

.login-content-contianer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 35px;
    border: 1px solid #afafaf;
    border-radius: 25px;
    gap: 20px;
}

.login-content-contianer > h3 {
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;
    color: #000;
}

.login-content-contianer > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
}

.login-content-contianer > span > p {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .login-form-main-contianer {
        padding: 15px;
        gap: 10px;
    }
}
