.extras-modal-main-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 999999999;
    transition: all 0.3s ease-in-out;
}

.extras-modal-main-contianer.show-extras-main-modal {
    opacity: 1;
    visibility: visible;
}

.extrasinner-modal {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 40vw;
    height: auto;
    min-height: 30vh;
    overflow: hidden;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #FFF;
    gap: 20px;
    transform: translate(0%, 200%);
    transition: all 0.3s ease-in-out;
}

.extrasinner-modal.show-extras-inner-modal {
    transform: translate(0%, 0%);
}

.extras-head-contianer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.extras-head-contianer > h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.update-extras-options-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 15px;
}

.update-extras-single-option {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 5px;
}

.extras-name-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.extras-name-and-price > h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.extras-name-and-price > p {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.update-extras-single-option > h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.update-extras-single-option-quantity-controler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #961502;
    height: 45px;
}

.update-extras-single-option-quantity-controler > button {
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #961502;
    cursor: pointer;
}

.update-extras-single-option-quantity-controler > input {
    width: 45px;
    height: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
    border: none;
    outline: none;
}

.desktop-extras-update-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    background-color: #961502;
    color: #FFF;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    border: 1px solid #961502;
    border-radius: 5px;
    cursor: pointer;
}