.whatsapp-button-sticky {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #25D366;
    background-color: #25D366;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 99999;

    box-shadow:
        0px 4px 10px rgba(0, 0, 0, 0.2),
        /* soft dark shadow */
        inset 0px 2px 4px rgba(0, 0, 0, 0.05),
        /* subtle inner shadow */
        inset 0px -2px 4px rgba(37, 211, 102, 0.2);
    /* inner green glow */
}





@media only screen and (max-width: 767px) {
    .whatsapp-button-sticky {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #25D366;
        background-color: #25D366;
        position: fixed;
        bottom: 15px;
        right: 25px;
    }
}