.my-bookings-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 15px;
}

.add-booking-button-contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.add-booking-button-contianer>a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.user-bookings-preview-table {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 20px;
  overflow-x: auto;
}


.booking-table-main-container {
  width: 100%;
  /* Full width of parent */
  border-collapse: collapse;
  /* Removes gaps between borders */
  table-layout: auto;

  /* Auto adjusts based on content */
}

.booking-table-main-container th,
.booking-table-main-container td {
  border: 1px solid #ccc;
  padding: 10px 12px;
  text-align: left;
  white-space: nowrap;
}

.booking-table-main-container th {
  background-color: #f5f5f5;
  /* Optional header color */
  font-weight: 500;
}

.booking-table-main-container tr:nth-child(even) {
  background-color: #fafafa;
  /* Optional zebra stripes */
}

/* items hide and show */
/* .hide-on-mobile {
  display: flex;
} */

/* Mobile */
.mobile-booking-detials-main-contianer {
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  max-height: 420px;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 20px;

}

.mobile-booking-detials-main-contianer::-webkit-scrollbar {
  display: none;
}

.single-booking-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
}

.single-booking-details-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.single-booking-details-head > span {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: max-content;
  gap: 5px;
}

.single-booking-details-head > span > p {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #757575;
}

.single-booking-details-head > span > h3 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #757575;
}

.single-booking-details-head > button {
  display: flex;
  align-items: center;
  justify-self: center;
  width: max-content;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #961502;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #FFF;
  background-color: #961502;
  padding: 5px 10px;
}

.single-booking-hirer-and-vehicle-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  gap: 5px;
}

.single-booking-hirer-and-vehicle-name > h3 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #757575;
}

.single-booking-hirer-and-vehicle-name > p {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #961502;
}

.single-booking-pick-and-drop-contianer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.single-booking-pick-and-drop-contianer > span {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: max-content;
  gap: 5px;
}

.single-booking-pick-and-drop-contianer > span:nth-child(2) {
  justify-content: end;
}

.single-booking-pick-and-drop-contianer > span > p {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #757575;
}

.single-booking-pick-and-drop-contianer > span > h3 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #757575;
}

@media only screen and (max-width: 767px) {

  .user-bookings-preview-table {
    display: none;
  }

  .mobile-booking-detials-main-contianer {
    display: flex;
  }

}