.subscription-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 99999999999999;
    transition: all 0.3s ease-in-out;
}

.subscription-main-container.show-subscription {
    visibility: visible;
    opacity: 1;
}

.subscription-inner-modal {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    height: auto;
    background-color: #FFF;
    border-radius: 10px;
    /* padding: 15px; */
    transform: translate(0%, 200%);
    transition: all 0.3s ease-in-out;
}

.subscription-inner-modal.show-subscription-inner {
    transform: translate(0%, 0%);
}

/* Head */
.subscription-head-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    /* gap: 5px; */
    padding: 15px;
}

.subscription-close-and-heading-contianer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.subscription-close-and-heading-contianer > h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.subscription-main-heading {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--primary-color);
}

/* Modal Banner */
.subscribe-modal-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.subscribe-modal-banner > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.subscription-terms-and-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 15px;
}

.subscribe-modal-promotional-text {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.subscrive-modal-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    gap: 10px;
}

.subscribe-modal-first-and-last-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.subscribe-modal-first-and-last-name > label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    height: auto;
    /* gap: 5px; */
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    padding: 6px 16px;
}

.subscribe-modal-first-and-last-name > label > input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.subscribe-modal-first-and-last-name > label > input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.subscribe-modal-email-and-country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.subscribe-modal-email-and-country > label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    height: auto;
    /* gap: 5px; */
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    padding: 6px 16px;
}

.subscribe-modal-email-and-country > label > input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}


.subscribe-modal-email-and-country > label > input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.subscribe-modal-country-select-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    height: auto;
    /* gap: 5px; */
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    padding: 6px 16px;
    position: relative;
}

.subscribe-modal-country-select-main-contianer {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.subscribe-modal-country-select-head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 30px;
}

.subscribe-modal-country-select-head > h3 {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.subscribe-modal-country-select-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    max-height: 0;
    background-color: transparent;
    border: 1px solid transparent;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;
}

.subscribe-modal-country-select-list::-webkit-scrollbar {
    display: none;
}

.subscribe-modal-country-select-list.show-countries-list {
    height: auto;
    max-height: 220px;
    background-color: #FFF;
    border: 1px solid #afafaf;
    overflow-y: auto;
}

.subscribe-modal-country-select-list > p {
    padding: 5px 10px;
    cursor: pointer;
    color: #000;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}

.subscribe-modal-country-select-list > p:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.subscribe-modal-terms-and-conditions {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}

.submit-subscribe-modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    font-size: var(--font-body-md);
    color: #FFF;
    line-height: 1.2;
    font-weight: 500;
    background-color: var(--primary-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .subscription-main-container {
        padding: 15px;
    }
    .subscription-inner-modal {
        width: 100%;
    }
    .subscribe-modal-first-and-last-name {
        flex-direction: column;
    }

    .subscribe-modal-first-and-last-name > label {
        width: 100%;
    }

    .subscribe-modal-email-and-country {
        flex-direction: column;
    }

    .subscribe-modal-email-and-country > label {
        width: 100%;
    }

    .subscribe-modal-country-select-main-contianer {
        width: 100%;
    }

    .submit-subscribe-modal-button {
        height: 50px;
    }

    .subscribe-modal-country-select-list {
        bottom: 100%;
        top: unset;
        left: 0;
    }
}