.weekend-rental-main-contianer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.weekend-rental-width-controller {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    max-width: 1323px;
    padding: 25px 56px;
    gap: 32px;
}

.auckland-visiting-points {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0 25px;
}

.auckland-visiting-point-name {
    font-size: var(--font-body-xl);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.auckland-visiting-point-details {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
}

.week-end-car-rental-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
    padding: 0 25px;
    list-style: disc;
}