@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000000;
  /* --primary-color: #113b84; */
  --primary-color: #961502;
  /* --secondary-color: #FF8B40; */
  --secondary-color: #961502;
  --white-color: #ffffff;
  --header-bg: #F7F7F7;




  /* Mobile Heading Sizes */
  --font-mobile-heading-xl: 2.5rem;

  /* Heading sizes */
  --font-heading-xl: 4rem;
  --font-heading-lg: 2rem;
  --font-heading-md: 2rem;
  --font-heading-sm: 1.5rem;

  /* Paragraph sizes */
  --font-body-xl: 1.375rem;
  --font-body-18: 1.125rem;
  --font-body-lg: 1rem;
  --font-body-md: 0.875rem;
  --font-body-sm: 0.675rem;



  /* Line Heights*/
  --line-height-heading: 1.2;
  --line-height-body: 1.5;

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url(/assets/fonts/Euclid\ Circular\ A\ Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url(/assets/fonts/Euclid\ Circular\ A\ Medium.ttf) format(truetype);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url(/assets/fonts/Euclid\ Circular\ A\ Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  background: var(--background);
  color: #000;
  font-family: 'Euclid Circular A', sans-serif;
  overflow: hidden;
}

.page-content {
  flex: 1;
  display: flex;
  /* height: calc(100vh - 63px); */
  /* optional: allows inner flex layouts */
  flex-direction: column;
  /* keeps children vertical */
}

.section-main-heading {
  font-size: var(--font-heading-lg);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.global-heading-style {
  font-size: var(--font-heading-sm);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.global-content-style {
  font-size: var(--font-body-18);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-regular);
}


button:focus-visible,
div:focus-visible,
p:focus-visible,
span:focus-visible,
h1:focus-visible,
h2:focus-visible,
h3:focus-visible,
h4:focus-visible,
h5:focus-visible,
h6:focus-visible,
input:focus-visible {
  outline: 2px solid #961502;
  outline-offset: 1px;
}


@media only screen and (max-width: 480px) {
  .section-main-heading {
    font-size: var(--font-heading-md);
    /* padding: 0 16px; */
  }

  .global-content-style {
    font-size: var(--font-body-16);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
  }
}