.register-user-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 35px;
    border: 1px solid #afafaf;
    border-radius: 25px;
    gap: 20px;
}

.register-user-main-container > h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.register-user-inputs-contianer {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}

.sign-up-two-inputs-contianer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.sign-up-two-inputs-contianer > label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    /* gap: 5px; */
    background-color: rgba(102, 102, 102, 0.1);
    padding: 6px 16px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #535353;
}

.sign-up-two-inputs-contianer > label > input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

.sign-up-two-inputs-contianer > label > input::placeholder {
    color: var(--primary-color);
}

.signup-email-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 6px 16px;
    background-color: rgba(102, 102, 102, 0.1);
    /* gap: 5px; */
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(102, 102, 102, 0.7);
}

.signup-email-contianer > input {
    width: 100%;
    height: 30px;
    /* border: 1px solid #afafaf; */
    border: none;
    border-radius: 5px;
    outline: none;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    /* padding: 0 15px; */
    font-weight: 400;
}

.signup-email-contianer > input::placeholder {
    color: var(--primary-color);
}

.pass-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.pass-input-container > input {
    width: 100%;
    height: 30px;
    /* border: 1px solid #afafaf; */
    border: none;
    border-radius: 5px;
    outline: none;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    /* padding: 0 15px; */
    font-weight: 400;
}

.pass-input-container > input::placeholder {
    color: var(--primary-color);
}


.register-user-terms-and-button {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.register-user-terms-and-button > span  {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}
.register-user-terms-and-button > span > a {
    font-size: 500 !important;
    color: var(--primary-color);
    text-decoration: underline;
}

.signup-sec-register-button {
    display: flex;
    width: max-content;
    height: 35px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 480px) {
    .register-user-main-container {
        gap: 10px;
        padding: 15px;
    }
    .sign-up-two-inputs-contianer {
        flex-direction: column;
    }

    .sign-up-two-inputs-contianer > label {
        width: 100%;
    }
}