.booking-date-select-modal-main-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999999999999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.booking-date-select-modal-main-container.show-booking-date-modal {
    visibility: visible;
    opacity: 1;
}

.booking-date-select-modal-inner-container{
    display: flex;
    width: 35%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: space-between;
    /* padding: 20px 15px; */
    transform: translateY(200%);
    transition: all 0.3s ease-in-out;
}

.booking-date-select-modal-inner-container.show-booking-date-inner-modal {
    transform: translateY(0%);
}

.booking-modal-head-and-content-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    gap: 15px;
    padding: 15px 10px 0 10px;
}

.booking-date-modal-head {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.booking-date-modal-headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.booking-date-modal-headings > h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.booking-modal-vehicle-name {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--primary-color);
}

.booking-modal-form-inputs{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 25px;
}

.booking-modal-form-input-single-col-pick-up {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 15px;
}

.booking-modal-pickup-main {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.booking-modal-pickup-main > p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.booking-modal-pickup-dropdown-main {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: start;
    width: 100%;
    position: relative;
}

.booking-modal-pickup-dropdown-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #F9F9F9;
    border: 1px solid #d7d7d7;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.booking-modal-pickup-dropdown-head > h3 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.booking-modal-pickup-dropdown-body {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 0;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    background-color: #F9F9F9;
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999999999;
    transition: all 0.3s ease-in-out;
}

.booking-modal-pickup-single-item {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--primary-color);
    background-color: transparent;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.booking-modal-pickup-single-item:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.booking-modal-pickup-single-item.highlighted {
    background-color: var(--primary-color);
    color: #FFF;
}

.booking-modal-pickup-dropdown-body.show-pickup-locations {
    height: auto;
    max-height: 120px;
    border: 1px solid #d7d7d7;
}


.booking-modal-date-and-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.booking-modal-date-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
    position: relative;
}

.booking-modal-date-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #F9F9F9;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.booking-modal-date-head > h3 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.booking-modal-date-body {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 0;
    max-height: 0;
    overflow: hidden;
    z-index: 9999999999;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.booking-modal-date-body.show-pickup-date-calender {
    height: auto;
    max-height: 280px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #d7d7d7;
}



.react-calendar {
    width: 100%;
    min-width: 280px;
    background-color: #F9F9F9 !important;
}

.booking-modal-date-body .react-calendar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    border: none !important;
}



.booking-modal-date-body .react-calendar .react-calendar__navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px !important;
    background-color: transparent !important;
    height: max-content;
    margin: 0;
}

.booking-modal-date-body .react-calendar .react-calendar__viewContainer {
    padding: 10px 10px 10px 10px !important;
    background-color: transparent !important;
}

.booking-modal-date-body .react-calendar__navigation__label {
    padding-top: 2px !important;
    background-color: transparent !important;
}

.booking-modal-date-body .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    color: var(--primary-color) !important;
    font-weight: 500;
}

.booking-modal-date-body .react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
    color: var(--primary-color) !important;
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: transparent !important;
}

.booking-modal-date-body .react-calendar__navigation__arrow.react-calendar__navigation__prev-button:hover {
    background-color: transparent !important; 
}

.booking-modal-date-body .react-calendar__navigation__arrow.react-calendar__navigation__next-button {
    color: var(--primary-color) !important;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: transparent !important;
}

.booking-modal-date-body .react-calendar__navigation__arrow.react-calendar__navigation__next-button:hover {
    background-color: transparent !important;
}

.booking-modal-date-body .react-calendar__month-view__weekdays__weekday {
    color: var(--primary-color) !important;
    font-size: 12px;
    font-weight: var(--font-weight-semibold);
}


.booking-modal-date-body .react-calendar__month-view__weekdays abbr {
    text-decoration: none !important;
}

.booking-modal-date-body .react-calendar__tile {
    color: var(--primary-color) !important;
    font-size: 10px;
    font-weight: var(--font-weight-regular);
    padding: 5px;
}




.booking-modal-date-body .react-calendar__tile--active,
.booking-modal-date-body .react-calendar__tile--now {
    width: 100% !important;
    line-height: 18px !important;
    font-size: 10px !important;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Selected date background */
.booking-modal-date-body .react-calendar__tile--active {
    background: var(--primary-color);
    color: var(--color-white) !important;
}

/* Today (only if not selected) - light border */
.booking-modal-date-body .react-calendar__tile--now:not(.react-calendar__tile--active){
    border: 1px solid #ccc;
    background: transparent;
}

.react-calendar__tile:disabled {
    background-color: transparent !important;
    color: #aaa !important;        
    opacity: 0.5 !important;       
    cursor: not-allowed !important; 
    pointer-events: none;           
  }

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f0f8ff !important; 
  color: #000;
  border-radius: 5px; 
}





.booking-modal-time-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    background-color: #F9F9F9;
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    transition: all 0.3s ease-in-out;
}

.booking-modal-time-body::-webkit-scrollbar {
    display: none;
}

.booking-modal-time-single-item {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.booking-modal-time-single-item:hover {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.booking-modal-time-single-item.highlighted {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.booking-modal-time-body.show-pickup-time-list {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #d7d7d7;
    z-index: 99999999999999;
}





.booking-modal-time-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
    position: relative;
}

.booking-modal-time-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #F9F9F9;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.booking-modal-time-head > h3 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.booking-modal-availability-check-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.booking-modal-check-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    /* border-radius: 25px; */
    background-color: var(--primary-color);
    color: var(--color-white);
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    opacity: 0.5;
}

.booking-modal-check-button.active-check-button {
    opacity: 1;
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .booking-date-select-modal-inner-container {
        width: 45%;
    }
}

@media only screen and (max-width: 767px) {
    .booking-date-select-modal-main-container {
        padding: 15px;
    }
    .booking-date-select-modal-inner-container {
        width: 100%;
        height: 100%;
    }
    .booking-modal-date-and-time-container {
        flex-direction: column;
    }
    .booking-modal-date-container {
        width: 100%;
    }
    .booking-modal-time-container {
        width: 100%;
    }

    .booking-modal-time-body.show-pickup-time-list {
        max-height: 130px;
    }
}