.user-profile-main-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.user-profile-inner-contianer {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    max-width: 750px;
    padding: 10px 0;
}

.dash-profille-tab-main-heading {
    font-size: 38px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--primary-color);
}

.dash-profile-inputs-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 15px;
}

.first-and-last-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.first-and-last-name > label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    height: auto;
    background-color: #FFF;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    padding: 5px 15px;
    gap: 5px;
}

.first-and-last-name > label > input {
    width: 100%;
    height: 28px;
    border: none;
    outline: none;
    color: #535353;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
}

.profile-email-change {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 5px;
    padding: 5px 15px;
    background-color: #FFF;
    border-radius: 5px;
}

.profile-email-change > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-email-change > span > p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #535353;
    opacity: 0.5;
}

.profile-email-change > span > p:nth-child(2) {
    color: var(--primary-color);
    opacity: 1;
    cursor: pointer;
}

.profile-email-change > input {
    width: 100%;
    height: 28px;
    border: none;
    outline: none;
    color: #535353;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    opacity: 0.5;
}

.profile-email-change > input::placeholder {
    color: #535353;
    opacity: 0.5;
}

.protected-data-message {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: #535353;
}

.update-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    padding: 10px 25px;
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .dash-profille-tab-main-heading {
        font-size: 25px;
    }
    .first-and-last-name {
        flex-direction: column;
    }

    .first-and-last-name > label {
        width: 100%;
    }
    .protected-data-message {
        font-size: 10px !important;
    }
}