.edit-booking-mobile-main {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: max-content;
    /* padding: 15px; */
    /* position: relative; */
    flex: 1;
    /* background-color: #FFF; */
}

.edit-booking-mobile-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    position: relative;
    gap: 10px;
    overflow: hidden;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

.edit-booking-mobile-inner::-webkit-scrollbar {
    display: none;
}

.mobile-manage-booking-head-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: max-content;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mobile-view-vehicle-details {
    display: flex;
    align-items: stretch;
    justify-content: start;
    width: 100%;
    gap: 10px;
    background-color: #961502;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* border-radius: 15px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.mobile-view-vehicle-image-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 60px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
}

.mobile-view-vehicle-image-contianer > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mobile-view-vehicle-name-and-price {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.mobile-view-vehicle-name-and-price > h3 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFF;
}

.mobile-view-vehicle-name-and-price > p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #FFF;
}

.mobile-manage-booking-main-continainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    column-gap: 10px;
    row-gap: 10px;
}

.mobile-manage-booking-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 120px;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    background-color: #FFF;
}

.mobile-manage-booking-steps > img {
    width: 54px;
    height: 54px;
}

.mobile-manage-booking-steps > h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.mobile-view-bottom-sticky-summary {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 10px 10px;
    width: 100%;
    /* gap: 5px; */
    flex-shrink: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mobile-view-bottom-sticky-summary > span  {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 10px 10px;
}

.view-summary-and-grand-total {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: max-content;
    gap: 5px;
}

.mobile-view-bottom-sticky-summary > span > p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}
.view-summary-and-grand-total > h3 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    color: #961502;
}

.view-summary-and-grand-total > p {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 500;
    color: #961502;
    padding: 5px 0;
    text-decoration: underline;
}

.mobile-update-booking-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    background-color: #961502;
    color: #FFF;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    border-radius: 5px;
}

/* Bottom Popup */

.mobile-view-edit-data-bottom-popup {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: transparent;
    
    z-index: 999999999;
    transition: all 0.3s ease-in-out;
}

.mobile-view-edit-data-bottom-popup.show-bottom-popup {
    opacity: 1;
    visibility: visible;
    
}

.bottom-popup-inner-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 86%;
    overflow: hidden;
    padding: 15px 10px;
    gap: 20px;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translate(0%, 200%);
    transition: all 0.3s ease-in-out;
}

.bottom-popup-inner-contianer.drag-inner-modal {
    transform: translate(0%, 0%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-top: #afafaf;
}

.bottom-popup-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal-type-and-edit-button {
    display: flex;
    align-items: center;
    justify-content: start;
    width: max-content;
    gap: 15px;
}

.modal-type-and-edit-button > h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.edit-info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #961502;
    background-color: #A12C1B10;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #961502;
}

.bottom-pop-up-content-contianer {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: 100%;
}

.bottom-pop-up-content-contianer::-webkit-scrollbar {
    display: none;
}

/* End Bottom Popup */


@media only screen and (min-width: 768px) {
    .edit-booking-mobile-main  {
        display: none;
    }
}