.user-dashoard-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.user-dashboard-width-controller {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
    max-width: 1323px;
    padding: 25px 56px;
    gap: 25px;
}

.user-dash-content-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 15px;
    min-height: 450px;
}

@media only screen and (max-width: 767px) {
    .user-dashboard-width-controller {
        padding: 20px 10px;
    }
}