.spinner-loader-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    z-index: 999999;
}

.spinner-loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    /* background:
        radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #ffa516); */
    background-image: linear-gradient(to right top,
            #961502,
            /* dark base */
            #b11a08,
            /* slightly lighter */
            #cc200e,
            /* mid tone */
            #e72614,
            /* brighter */
            #ff2d1a
            /* highlight */
        );
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}