.mobile-insurance-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.insurace-update-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.insurace-update-button-container > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFF;
    background-color: #961502;
    border: 1px solid #961502;
    border-radius: 5px;
}