.privacy-policy-main-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.privacy-policy-width-contianer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    max-width: 1323px;
    padding: 25px 56px;
    gap: 32px;
}

.anchor-inside-para {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.privacy-policy-list-container {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.privacy-policy-list-container > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
    padding: 0 25px;
    list-style: disc;
}

.personal-info-contianer {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}



.personal-info-contianer > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
    padding: 0 25px;
    list-style: disc;
}

.privacy-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
    padding: 0 25px;
    list-style: disc;
}