.login-signup-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 60vh;
    padding: 25px 56px;
    /* max-width: 1230px; */
    gap: 20px;
}


.signup-login-max-width {
    display: flex;
    width: 100%;
    max-width: 1230px;
    height: 100%;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.login-sec-contianer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    transform: translate(103%);
    transition: all 0.3s ease-in-out;
}

.login-sec-contianer.swipe-to-input {
    transform: translate(0%);
}

.login-sec-content-contianer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    gap: 20px;
    border: 1px solid #afafaf;
    border-radius: 25px;
}

.login-sec-content-contianer > img {
    width: 100%;
    max-width: 160px;
    max-height: 100px;
    height: auto;
    object-fit: cover;
}

.login-sec-content-contianer > h3 {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;
    color: #000;
}

.login-sec-content-contianer > p {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.login-sec-content-contianer > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: max-content;
    height: max-content;
    gap: 5px;
}

.login-sec-content-contianer > span > p {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}

.login-and-signup-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--primary-color);
    width: max-content;
    height: 35px;
    cursor: pointer;
}

.login-and-signup-button:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

/* Sign up container */
.signup-sec-contianer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    transform: translate(-103%);
    transition: all 0.3s ease-in-out;
}

.signup-sec-contianer.swipe-to-content {
    transform: translate(0%);
}

/* Mobile Styling Start */

.mobile-view-login-signup {
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 15px;
}

.mob-view-login-signup-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mob-view-login-signup-toggler > h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.mob-view-login-signup-toggler > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 35px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    padding: 5px 15px;
}

@media only screen and (max-width: 480px) {
    .login-signup-main-contianer {
        min-height: auto;
        padding: 20px 10px;
    }
    .signup-login-max-width {
        display: none;
    }

    .mobile-view-login-signup {
        display: flex;
    }
}

