.signature-modal-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
    transition: all 0.3s ease-in-out;
}

.signature-modal-main-container.show-signature{
    visibility: visible;
    opacity: 1;
}

.signature-modal-inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    max-width: 420px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    transform: translate(0%, 200%);
    transition: all 0.3s ease-in-out;
}

.signature-modal-inner.signature-inner-show {
    transform: translate(0%, 0%);
}

.signature-modal-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    flex-shrink: 0;
    border-bottom: 1px solid #535353;
}

.signature-modal-head > h3 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
    color: #535353;
}

.signature-modal-head > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/* Pad */
.signature-modal-pad {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Footer */
.signature-modal-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 15px;
    border-top: 1px solid #535353;
}

.signature-upload-and-clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.signature-upload-and-clear > p {
    color: #223A84;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: underline;
}

.signature-upload-and-clear > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: auto;
    background-color: transparent;
    color: #223A84;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    border: 1px dashed #223A84;
    border-radius: 10px;
    padding: 10px 20px;
}

.save-signature-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 2px solid #000;
    color: #000;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

