/* .payment-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 32px;
}

.select-payment-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.pay-type-single-sec {
    display: flex;
    width: 50%;
    align-items: start;
    justify-content: start;
    padding: 16px;
    background-color: #f7f7f7;
    gap: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    position: relative;
}

.pay-option-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.5);

    z-index: 999999;
}



.pay-type-single-sec.active-select-payment {
    border: 2px solid var(--secondary-color);
    background-color: #FFFFFF;
}

.pay-type-single-sec input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    border: 2px solid rgba(150, 21, 2, 0.6);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.pay-type-single-sec input[type='radio']:checked {
    border-color: #961502;
}

.pay-type-single-sec input[type='radio']:checked::after {
    content: '';

    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    background-color: #961502;
    border-radius: 50%;
}

.selected-pay-type-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 6px;
}

.selected-pay-type-detail > h3 {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.selected-pay-type-detail > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}

.selected-pay-type-detail > span {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);
}

.payment-cards-type {
    display: flex;
    align-items: stretch;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.payment-cards-type.hide-section {
    display: none !important;
}

.payment-cards-type > h3 {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.payment-cards-and-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.payment-cards-type-icons {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    flex-shrink: 0;
    height: auto;
    border: 2px solid var(--secondary-color);
    padding: 16px;
    gap: 5px;
}


.payment-cards-type-icons input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    border: 2px solid rgba(150, 21, 2, 0.6);
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.payment-cards-type-icons input[type='radio']:checked {
    border-color: #961502;
}

.payment-cards-type-icons input[type='radio']:checked::after {
    content: '';

    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    background-color: #961502;
    border-radius: 50%;
}


.payment-type-disc {
    width: 50%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}

.payment-type-disc.hide-section {
    display: none;
}

.payment-input-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
}

.payment-input-details > label {
    width: 100%;
    height: 60px;
    padding: 5px 16px;
    background-color: #f7f7f7;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.payment-input-details > label > input {
    width: 100%;
    height: 100%;
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    border: none;
    outline: none;
}

.expiry-and-security-input-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.expiry-and-security-input-container > label {
    width: 100%;
    height: 60px;
    padding: 5px 16px;
    background-color: #f7f7f7;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.expiry-and-security-input-container > label > input {
    width: 100%;
    height: 100%;
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    border: none;
    outline: none;
}

.processing-fee-text {
    display: none;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 16px;
    border: 5px;
    background-color: #f7f7f7;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}

.processing-fee-text.hide-payment-proccessing-fee {
    display: flex;
}

.payment-policy-hightlight {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 7px;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}



.payment-policy-icon {
    cursor: pointer;
}

.agree-to-terms-and-conditions-highlight {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
    width: 100%;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    position: relative;
    user-select: none;
}

.agree-to-terms-and-conditions-highlight input {
    position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  z-index: 2; 
}

.agree-to-terms-and-conditions-highlight .checkmark {
  width: 20px;
  height: 20px;
  display: flex;
  flex-shrink: 0;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.agree-to-terms-and-conditions-highlight input:checked + .checkmark {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.agree-to-terms-and-conditions-highlight input:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media only screen and (max-width: 480px) {
    .pay-type-single-sec input[type='radio'] {
        display: none !important;
    }
    .payment-cards-and-desc {
        flex-direction: column;
        gap: 7px;
        align-items: start;
        justify-content: start;
    }
    .payment-cards-type-icons {
        width: 100%;
    }
    .payment-type-disc  {
        width: 100%;
    }
    .selected-pay-type-detail > p {
        font-size: 12px;
    }
    .payment-policy-icon {
        display: none;
    }
    .agree-to-terms-and-conditions-highlight {
        align-items: start;
    }
    
} */



.payment-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 32px;
}

.select-payment-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.pay-type-single-sec {
    display: flex;
    width: 50%;
    align-items: start;
    justify-content: start;
    padding: 16px;
    background-color: #f7f7f7;
    gap: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    position: relative;
}

.pay-option-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(150, 21, 2, 0.5); */
    background-color: rgba(102, 102, 102, 0.5);
    /* background-color: rgba(0, 0, 0, 0.2); */

    z-index: 999999;
}

/* .pay-type-single-sec:hover {
    border: 2px solid var(--secondary-color);
} */

.pay-type-single-sec.active-select-payment {
    border: 2px solid var(--secondary-color);
    background-color: #FFFFFF;
}

.pay-type-single-sec input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 2px; */
    height: 18px;
    border: 2px solid rgba(150, 21, 2, 0.6);
    /* Light border */
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.pay-type-single-sec input[type='radio']:checked {
    border-color: #961502;
}

.pay-type-single-sec input[type='radio']:checked::after {
    content: '';
    /* position: absolute; */

    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    background-color: #961502;
    border-radius: 50%;
}

.selected-pay-type-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 6px;
}

.selected-pay-type-detail > h3 {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.selected-pay-type-detail > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}

.selected-pay-type-detail > span {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);
}

.payment-cards-type {
    display: flex;
    align-items: stretch;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.payment-cards-type.hide-section {
    display: none !important;
}

.payment-cards-type > h3 {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.payment-cards-and-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.payment-cards-type-icons {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    flex-shrink: 0;
    height: auto;
    border: 2px solid var(--secondary-color);
    padding: 16px;
    gap: 5px;
}


.payment-cards-type-icons input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 2px; */
    height: 18px;
    border: 2px solid rgba(150, 21, 2, 0.6);
    /* Light border */
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.payment-cards-type-icons input[type='radio']:checked {
    border-color: #961502;
}

.payment-cards-type-icons input[type='radio']:checked::after {
    content: '';
    /* position: absolute; */

    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    background-color: #961502;
    border-radius: 50%;
}


.payment-type-disc {
    width: 50%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}

.payment-type-disc.hide-section {
    display: none;
}

.payment-input-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
}

.payment-input-details > label {
    width: 100%;
    height: 60px;
    padding: 5px 16px;
    background-color: #f7f7f7;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.payment-input-details > label > input {
    width: 100%;
    height: 100%;
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    border: none;
    outline: none;
}

.expiry-and-security-input-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.expiry-and-security-input-container > label {
    width: 100%;
    height: 60px;
    padding: 5px 16px;
    background-color: #f7f7f7;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.expiry-and-security-input-container > label > input {
    width: 100%;
    height: 100%;
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    border: none;
    outline: none;
}

.processing-fee-text {
    display: none;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 16px;
    border: 5px;
    background-color: #f7f7f7;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}

.processing-fee-text.hide-payment-proccessing-fee {
    display: flex;
}

.payment-policy-hightlight {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 7px;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}



.payment-policy-icon {
    cursor: pointer;
}

.agree-to-terms-and-conditions-highlight {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
    width: 100%;
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    position: relative;
    user-select: none;
}

.agree-to-terms-and-conditions-highlight input {
  /* display: none;  */
    position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  z-index: 2; /* Ensure it sits above the checkmark */
}

.agree-to-terms-and-conditions-highlight .checkmark {
  width: 20px;
  height: 20px;
  display: flex;
  flex-shrink: 0;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.agree-to-terms-and-conditions-highlight input:checked + .checkmark {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.agree-to-terms-and-conditions-highlight input:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media only screen and (max-width: 580px) {
    .pay-type-single-sec input[type='radio'] {
        display: none !important;
    }
    .payment-cards-and-desc {
        flex-direction: column;
        gap: 7px;
        align-items: start;
        justify-content: start;
    }
    .payment-cards-type-icons {
        width: 100%;
    }
    .payment-type-disc  {
        width: 100%;
    }
    .selected-pay-type-detail > p {
        font-size: 12px;
    }
    .payment-policy-icon {
        display: none;
    }
    .agree-to-terms-and-conditions-highlight {
        align-items: start;
    }
    
}

.StripeElement {
  width: 100% !important;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  min-height: 45px; /* ensure enough space for iframe */
  box-sizing: border-box;
}