.verify-otp-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.vehify-otp-heading-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
}

.vehify-otp-heading-contianer > h3 {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.vehify-otp-heading-contianer > p {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.verify-otp-inputs-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 15px;
}

.verify-otp-inpus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 0 25px;
}

.verify-otp-inpus > input {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #000;
    outline: none;
    text-align: center;
}

.verify-otp-timer {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: auto;
    padding: 0 25px;
}

.verify-otp-timer > p {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.verify-otp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.verify-otp-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
}