.insurance-type-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 25px;
}

.insurance-type-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 16px;
    row-gap: 16px;
    align-items: center;
    justify-content: center;
}

.insurance-single-tab {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: space-between;
    padding: 22px 16px;
    background-color: rgba(150, 21, 2, 0.1);
    border-radius: 3px;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
}

.insurance-single-tab:hover {
    border: 1px solid rgba(150, 21, 2, 0.3);
}

.insurance-single-tab.insurance-single-tab-selected {
    border: 1px solid rgba(150, 21, 2, 0.3);
}

.insurance-bottom-text {
    font-weight: 600;
}

.popular-tag {
    position: absolute;
    top: -18px;
    left: 20px;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 6px;
    border: 1px solid rgba(150, 21, 2, 0.3);
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
}

.select-insurance-radio-container {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 16px;
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    margin-bottom: 15px;
}

.select-insurance-radio-container input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    /* padding: 2px; */
    border: 2px solid rgba(150, 21, 2, 0.6);
    /* Light border */
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.select-insurance-radio-container input[type='radio']:checked {
    border-color: #961502;
}

.select-insurance-radio-container input[type='radio']:checked::after {
    content: '';
    /* position: absolute; */
    flex-shrink: 0;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: #961502;
    border-radius: 50%;
}

.shuttle-options-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 15px;
}

.shuttle-options-main-heading {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.shuttle-options {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 15px;
}

.shuttle-single-option {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 5px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 15px 5px 45px;
    border: 2px solid #f1f1f1;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.shuttle-single-option.selected-shuttle-option {
    background-color: #FFF;
    border: 2px solid var(--primary-color);
}

.shuttle-single-option>input[type="radio"] {
    display: none;
}

.shuttle-radio {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s ease;
}

/* checked state */
.shuttle-single-option input[type="radio"]:checked+.shuttle-radio {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* white tick */
.shuttle-single-option input[type="radio"]:checked+.shuttle-radio::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.flight-and-arrival-city {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    height: auto;
}

.flight-number-input-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 70%;
    gap: 5px;
    /* padding: 10px 15px; */
    height: auto;
    background-color: #FFF;
    position: relative;
}



.flight-number-heading {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    width: max-content;
    gap: 10px;
}



.flight-number-input-box {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    background-color: #f1f1f1;
    /* border: 1px solid #f1f1f1; */
    border-radius: 5px;
    color: #000;
}

.flight-number-input-box::placeholder {
    font-weight: 400;
}

.arrival-city-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 30%;
    gap: 5px;
    /* padding: 10px 15px; */
    height: auto;
    background-color: #FFF;
    position: relative;
}

.flight-number-reason-contianer {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 0;
    max-height: 0;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid transparent;
}

.flight-number-reason-contianer.show-reason-message {
    width: 100%;
    height: max-content;
    padding: 8px 15px;
    max-height: 120px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.flight-number-reason-contianer>p {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}

.flight-number-reason-contianer::after {
    content: '';
    width: 0px;
    height: 0px;
    /* background-color: #FFF; */
    position: absolute;
    bottom: -11px;
    left: 160px;
    border-left: 10px solid transparent;
    /* left side transparent */
    border-right: 10px solid transparent;
    /* right side transparent */
    border-top: 10px solid #fff;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

/* 
.insurance-type-collapse {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
}

.insurance-types-details-head {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 16px;
    cursor: pointer;
}

.insurance-types-details-head > h3 {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.insurance-type-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 16px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.insurance-type-details.show-insurance-details {
    height: auto;
    padding: 16px 0;
    visibility: visible;
    opacity: 1;
}

.single-insurance-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
    align-items: start;
    justify-content: start;
}

.single-insurance-details > h3 {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.single-insurance-details > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
    
} */


/* Shimmer styling */
.insurance-shimmer-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 16px;
    row-gap: 16px;
    align-items: center;
    justify-content: center;
}

.insurance-shimmer-main-container>div {
    width: 100%;
    height: 204px;
    background: linear-gradient(100deg,
            #e0e0e0 20%,
            #f8f8f8 50%,
            #e0e0e0 80%);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite linear;
}

.insurance-faq-shimmer {
    width: 70%;
    height: 25px;
    border-radius: 25px;
    background: linear-gradient(100deg,
            #e0e0e0 20%,
            #f8f8f8 50%,
            #e0e0e0 80%);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@media only screen and (min-width: 999px) and (max-width: 1250px) {
    .insurance-type-body {
        column-gap: 10px;
    }

    .insurance-single-tab {
        padding: 10px;
    }

    .select-insurance-radio-container {
        font-size: 12px;
        line-height: 1.2;
        gap: 10px;
    }

    .insurance-single-tab>p {
        font-size: 10px;
        line-height: 1.2;
    }

    .insurance-single-tab>span>p {
        font-size: 10px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 767px) {


    /* Steper Sec */
    .booking-steps-main-container {
        width: 100%;
        padding: 16px;
        gap: 15px;
    }

    .insurance-type-head>span {
        font-size: var(--font-body-lg);
        line-height: var(--line-height-heading);
        font-weight: var(--font-weight-bold);
    }

    .booking-tabs-numbers {
        font-size: var(--font-body-md);
        line-height: var(--line-height-heading);
        font-weight: var(--font-weight-regular);
        cursor: pointer;
    }

    .insurance-single-tab {
        gap: 5px !important;
        padding: 12px 7px !important;
    }

    .select-insurance-radio-container {
        display: flex;
        width: 100%;
        height: 67px;
        align-items: start;
        justify-content: start;
        gap: 16px;
        font-size: var(--font-body-md);
        line-height: var(--line-height-heading);
        font-weight: var(--font-weight-bold);
        cursor: pointer;
    }
    /* .select-insurance-radio-container input[type='radio'] {
        
        display: none !important;
    } */

    

    .popular-tag {
        position: absolute;
        top: -12px !important;
        left: 10px !important;
        border-radius: 25px;
        background-color: #FFFFFF;
        padding: 3px;
        border: 1px solid rgba(255, 139, 64, 0.3);
        font-size: 10px !important;
        line-height: var(--line-height-heading);
        font-weight: var(--font-weight-regular);
    }

    .insurance-type-body {
        gap: 7px;
    }


    .insurance-single-tab>p {
        font-size: 12px !important;
    }

    .insurance-single-tab>span>p {
        font-size: 12px !important;
    }

    .insurance-types-details-head>h3 {
        font-size: var(--font-body-lg);
        line-height: var(--line-height-heading);
        font-weight: var(--font-weight-bold);
        color: var(--primary-color);
    }

    .insurance-bottom-text {
        color: var(--primary-color);
    }

    .shuttle-single-option {
        font-size: 12px;
    }

    .flight-number-input-contianer {
        width: 50%;
    }

    .arrival-city-container {
        width: 50%;
    }
}