.booking-info-main-container {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
    flex-direction: column;;
}

.page-main-heading-container {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px 56px; 
}

.page-main-booking-form-container {
    display: flex;
    margin-top: 25px;
    border-radius: 15px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 25px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.vehicles-main-heading {
    font-size: var(--font-heading-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
}

.bookinng-info-content-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.booking-info-max-width-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    max-width: 1323px;
    gap: 50px;
    padding: 25px 56px 0 56px;
}

@media only screen and (max-width: 767px) {
    .bookinng-info-content-container {
        gap: 25px;
    }
    .booking-info-max-width-container {
        padding: 0 16px;
        gap: 25px;
    }

    .page-main-heading-container {
        padding: 25px 16px 0 16px;
        gap: 16px;
        margin-bottom: 25px;
    }

    .vehicles-main-heading {
        font-size: var(--font-heading-md);
        line-height: var(--line-height-heading);
        font-weight: var(--font-weight-bold);
    }
}