.why-zm-rentals-main-contianer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.why-zm-rental-width-controller {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    max-width: 1323px;
    padding: 25px 56px;
    gap: 32px;
}

.why-zm-head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.money-saving-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
}

.money-saving-contianer > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
    width: 100%;
    list-style: disc;
    padding: 0 25px;
}

.why-zm-rental-list-container {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.why-zm-rental-list-container > ul {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
    padding: 0 25px;
    list-style: disc;
    flex-direction: column;
}