.book-now-page-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}





.book-now-inner-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 57px;
    padding-bottom: 57px;
}

.book-now-max-width-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 57px;
    align-items: start;
    justify-content: start;
    max-width: 1323px;
    padding: 56px;
}

.book-now-main-container {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: start;
    gap: 20px;
}

.booking-steps-main-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 32px;
}

.booking-steper-and-tab {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
}

.booking-steper-and-tabs {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
}

.insurance-type-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.insurance-type-head > span {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
}

.insurance-tab-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    gap: 16px;
}

.booking-tabs-numbers {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    

}

.booking-tabs-numbers.booking-selected-tab {
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
    background-color: var(--secondary-color);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.payment-continue-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--secondary-color);
    color: var(--color-white);
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.payment-continue-button:hover {
    background-color: var(--secondary-color);
}

.payment-continue-button.disable-continue-booking {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Booking Summary Section */

.booking-summary-main-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    border-radius: 5px;
    background-color: #F0F0F0;
    padding: 16px;
}

.booking-summary-main-container > h3 {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.booking-summary-details-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
}

.pick-drop-detail-section {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: start;
    gap: 16px;
    flex-direction: row;
    padding: 16px 0;
}

.pick-up-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: start;
    gap: 7px;
}

.pick-up-section > h3 {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
}

.pick-up-section > h3:nth-child(2) {
    color: #595959;
    opacity: 0.7;
}

.pick-up-section > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
}


.pick-drop-time {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    opacity: 0.5;
}

.edit-enquiry {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    cursor: pointer;
}

.drop-off-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: start;
    gap: 7px;
}

.drop-off-section > h3 {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
}

.drop-off-section > h3:nth-child(2) {
    color: #595959;
    opacity: 0.7;
}

.drop-off-section > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
}

.drop-off-section > p:nth-last-child(1) {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    opacity: 0.5;
}

.pick-drop-time {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    opacity: 0.5;
}


/* Vehicle Details */
.vehicle-details-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    padding: 16px 0;
    border-top: 1px solid var(--primary-color);
}

.vehicle-details {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: start;
    justify-content: start;
    width: 50%;
}

.vehicle-details > h3 {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    /* color: var(--primary-color); */
    color: #000;
}

.vehicle-details > del {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    opacity: 0.5;
}

.vehicle-details > a {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
    opacity: 1;
    cursor: pointer;
}

.vehicle-details > span {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    /* color: var(--secondary-color); */
    color: #000;
    
}

.vehicle-image-container {
    width: 50%;
    height: auto;
    position: relative;
}

/* Booking price details */
.booking-prices-details-section {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    gap: 7px;
    padding: 16px 0;
    border-top: 1px solid var(--primary-color);
}

.booking-prices-details-section > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.booking-prices-details-section > span > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
    display: flex;
    align-items: center;
    justify-content: start;
    width: max-content;
    gap: 7px;
}

.booking-prices-details-section > span > h3 {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);
}

.booking-price-que {
    cursor: pointer;
}

.grand-total-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid var(--primary-color);
    border-bottom:1px solid var(--primary-color);
}

.grand-total-section > p {
    font-size: var(--font-body-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
    color: #000;
}

.grand-total-section > h3 {
    font-size: var(--font-body-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
    color: var(--secondary-color);
}

.grand-total-section > span {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    width: max-content;
}

.grand-total-section > span > h3 {
    font-size: var(--font-body-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
    color: var(--secondary-color);
}

.grand-total-section > span > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

.queries-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
}

.queries-section > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 7px;
    cursor: pointer;
}

.queries-section > span > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.close-on-mobile-view {
    display: none;
}


.booking-vehicle-detailsshimmer {
    display: flex;
    width: 35%;
    height: 555px;
    background: linear-gradient(
    100deg,
    #e0e0e0 20%,
    #f8f8f8 50%,
    #e0e0e0 80%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@media only screen and (min-width: 999px) and (max-width: 1250px) {
    .book-now-main-container {
        gap: 15px;
    }
    .pick-drop-detail-section {
        gap: 10px;
        padding: 10px 0;
    }
    .vehicle-details-section {
        gap: 10px;
    }

    .booking-prices-details-section > span {
        gap: 10px;
    }

    .booking-prices-details-section > span > p {
        font-size: 10px;
        line-height: 1.2;
        flex-shrink: 0;
    }

    .booking-prices-details-section > span > h3 {
        font-size: 12px;
    }

    .grand-total-section > p {
        font-size: 12px;
    }

    .queries-section > span {
        gap: 5px;
    }

    .queries-section > span > p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .book-now-main-container {
        flex-direction: column-reverse;
        padding: 0;
        gap: 0;
    }
    .book-now-max-width-container {
        padding: 0;
    }
    
    .booking-summary-main-container {
        width: 100% !important;
    }
}